<h1 class=" font-bold ">Create Blog</h1>

<div class="w-6/12 border-4  flex items-center">
  <form class="blog-form w-full flex flex-col items-center p-1 rounded-lg ">

    <div class="w-full mb-2 flex-col gap-y-0.5">
      <h1 class=" semi-bold ">Title</h1>
      <input
        class="w-full min-w-full align-top break-all h-10 px-4 mb-2 bg-gray-100 border-gray-400 text-gray-700 placeholder-gray-600 border rounded-lg "
        id="titleBlog" type="text">
      <h1 class=" semi-bold ">Description</h1>
      <input
        class="w-full min-w-full align-top break-all h-20 px-4 mb-2 bg-gray-100 border-gray-400 text-gray-700 placeholder-gray-600 border rounded-lg "
        id="commentBlog" type="text">
    </div>

    <div class="flex items-center justify-between">
      <button
        class="bg-gray-600 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline"
        type="blogComments">
        Submit
      </button>
    </div>
  </form>
</div>


<script src="/js/comment.js"></script>

<h1 class=" font-bold mt-8">Existing Blog</h1>

{{#each blogs as |blog| }}
<a class="w-full border-4 border-gray-400 text-blue-900 text-2xl mb-4" href="blog/{{blog.id}}">
  <div class="flex flex-row flex-wrap justify-between bg-gray-400 font-semibold">
    <h1>{{blog.blogTitle}}</h1>
    <p>Posted by {{user.name}} on {{blog.blogDate}}</p>
  </div class="font-medium">
  <p>{{blog.blogDescription}}</p>
</a>
{{/each}}